html {
    display: grid;
    justify-content: center;
    background-color: grey;
    font-family: 'PF Arma Five', sans-serif;
    text-shadow: 2px 2px #CB2B92;
}

ul {
    list-style: none;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button {
    width: 150px;
    height: 25px;
    border: blue 1px solid;
    outline: none;
    color: #7DF9FF;
    background: black;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

body {
    margin: 0px;
    border: 0px;
}

form {
    display: grid;
    justify-content: center;
    border: magenta solid;
    padding: 40px;
}

div {
    display: grid;
    justify-content: center;
    padding: 30px;
}
