/* TODO Add site wide styles */
@font-face {
    font-family: 'PF Arma Five', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pf-arma-five');
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PF Arma Five', sans-serif;
    text-shadow: 2px 2px #660000;
    color: #7EF9FF;
    background: #333333;
}

ul {
    list-style: none;
}
