/* TODO Add site wide styles */
@font-face {
    font-family: 'PF Arma Five', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pf-arma-five');
}

html {
    display: flex;
    font-family: 'PF Arma Five', sans-serif;
    text-shadow: 2px 2px #CB2B92;
    color: lime;
    background: black;
}

ul {
    list-style: none;
}

